* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	box-shadow: none;
	&::before,
	&::after {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
	}
}
*:focus {
	outline: none;
}
::selection {
	background-color: #ff2d55;
	color: #fff;
}
#root {
	height: 100%;
}
body,
html {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	font-weight: normal;
	height: 100%;
	// font-size: 62.5%;
}
.ReactModal__Content {
	@media screen and (max-width: 480px) {
		width: 95% !important;
		margin: 0 auto !important;
	}
}
h1,
h2,
h3,
h4 {
	font-weight: bold;
	margin: 0;
}
ul {
	list-style: none;
	padding-left: 0;
	margin: 0;
	border: none;
}
@keyframes jello {
	0% {
		transform: scale3d(1, 1, 1);
	}
	30% {
		transform: scale3d(1.25, 0.75, 1);
	}
	40% {
		transform: scale3d(0.75, 1.25, 1);
	}
	50% {
		transform: scale3d(1.15, 0.85, 1);
	}
	65% {
		transform: scale3d(0.95, 1.05, 1);
	}
	75% {
		transform: scale3d(1.05, 0.95, 1);
	}
	100% {
		transform: scale3d(1, 1, 1);
	}
}
.slide-circle {
	animation: jello 0.9s both;
}
p {
	margin: 0;
}
a {
	text-decoration: none;
}
.position-relative{
	position: relative;
}
.w-100 {
	width: 100%;
}
.text-center {
	text-align: center;
}
.text-end {
	text-align: end;
}
.m-a {
	margin: 0 auto;
	display: block;
}

.mt-a {
	margin-top: auto;
}

.d-f {
	display: flex;
}

.flex-wrap {
	flex-wrap: wrap;
}

.align-center {
	align-items: center;
}
.align-bottom {
	align-items: end;
}

.justify-center {
	justify-content: center;
}

.justify-beetwen {
	justify-content: space-between;
}
.justify-around {
	justify-content: space-around;
}

.align-items-center {
	align-items: center;
}

.align-items-start {
	align-items: flex-start;
}

.align-items-end {
	align-items: flex-end;
}

.cursor-pointer {
	cursor: pointer;
}

.d-block {
	display: block !important;
}

.d-block-mobile {
	@media (min-width: 1024px) {
		display: none !important;
	}
}

.d-block-desctop {
	display: none !important;
	@media (min-width: 1024px) {
		display: block !important;
	}
}

.d-flex-desctop {
	display: none !important;
	@media (min-width: 1024px) {
		display: flex !important;
	}
}
.nowrap {
	white-space: nowrap;
}

.react-tooltip-no-padding .react-tooltip-lite{
	padding: 0px!important;
	padding-bottom: 10px!important;
}

.react-tooltip-lite {
	width: initial !important;
	padding: 25px !important;
	border-radius: 10px;
	background: #fff;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12), 0 3px 6px rgba(0, 0, 0, 0.19);
}

.react-tooltip-lite-arrow {
	border-color: #fff;
}
.react-tooltip-clickable-link {
	pointer-events: none;
}
.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 1rem;
}
.row {
	display: flex;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
}

.custom-scroll{
	&::-webkit-scrollbar-track {
		border-radius: 10px;
		background-color: transparent;
	}

	&::-webkit-scrollbar {
		width: 5px;
		max-height: 5px;
		background: transparent;
	}

	&::-webkit-scrollbar-thumb {
		border-radius: 10px;
		background-color: #EAEDF0;
	}
}
